@font-face {
  font-family: "futuraHeavyItalic";
  src: url("../fonts/Futura\ Heavy\ Italic\ font.ttf");
}
@font-face {
  font-family: "futuraBook";
  src: url("../fonts/Futura\ Book\ font.ttf");
}
@font-face {
  font-family: "futuraLight";
  src: url("../fonts/futura\ light\ bt.ttf");
}
@font-face {
  font-family: "futuraMedium";
  src: url("../fonts/futura\ medium\ bt.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "futuraBook";
  background-color: #020a17;
  color: aliceblue;
}

.msl-vars {
  width: 300px;

  /* max-height: 40px; */
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  font-size: 50px;
}

.filter {
  z-index: 1;
}
.filterCatalog {
  margin-bottom: 16px;
}

.filmDispo {
  margin: 8px;
  height: 401px;
  max-width: 267px;
}
