.react-multi-carousel-item{
    width: 300px !important;  
}
.react-multi-carousel-track:hover, .react-multi-carousel-item{
    transform: translateX(-5%);
}
.react-multi-carousel-item:hover ~ .react-multi-carousel-item {
    transform: translateX(5%);
 }
 .react-multi-carousel-item:hover {
    transform: scale(1.1) !important;
  }
  .carousel-container{
      margin-top: 50px;
      margin-bottom: 100px;
  }

