.mainTitle{
    font-family: 'futuraHeavyItalic';
    font-size: 75px;
    margin-bottom: 0px;
}

.navbar{
    font-family: 'futuraBook';
    margin-bottom: 32px;
}
.logo{
    height: 75px;
}

.nav-link{
   margin-right: 50px;
}

.profilePicture{
    height: 50px;
}

